<p>repository works!</p>
<div class="container-fluid">
    <app-search-form (searchOutput)="repoSearch($event)"></app-search-form>
    <div class="container">
        <div class="container allrepos">
            <div class="card" appHighlight *ngFor="let repository of repo" style="width: 22rem;" class="repo">
                <div class="card-body">
                    <h4 class="card-title">Repo Name: & nbsn;{{ repository.name }}</h4>

                    <div class="card-text">
                        <!-- <hr> -->
                        <div class="desc"><span class="top">Description:</span> & nbsp; {{ repository.description }}
                        </div>
                        <!-- <hr> -->
                        <div class="card-subtitle mb-2">
                            <span class="top">Language: </span> {{ repository.language }}
                        </div>
                        <div class="card-subtitle mb-2"><span class="top">Created On:</span> &
                            nbsp;{{ repository.created_at | date }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>