.allrepos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* hr{
    background-color: dodgerblue;
    height: 1px;
  } */
.desc {
  min-height: 95px;
}
.top {
  font-weight: 550;
}
.btn-group {
  margin-left: 13px;
}
#visit a {
  text-decoration: none;
  color: snow;
}
.repo {
  background-color: black;
  color: white;
  margin-bottom: 2%;
  border-radius: 4px;
}
.form-control::placeholder {
  color: navajowhite;
}
