<div class="container-fluid">

    <div class="overlay">
        <app-search-form (searchOutput)="searchs($event)"></app-search-form>
        <div class="container content">
            <div class="col-sm-4" id="imgcard">
                <div class="userimage">
                    <div class="card-img-top">
                        <img src="{{user.avatar_url}}" alt="">
                    </div>
                    <div class="card-body">
                        <span class="name"><i class="fa fa-user" style="font-size:20px"></i> &nbsp;{{user.login}}</span>
                        <a href="{{user.html_url}}"><button class="btn-outline-success btn btn-sm"><i
                                    class="fa fa-github" style="font-size:20px"></i> &nbsp; <span
                                    id="profile">Github</span> </button></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 user">
                    <div class="card" appHighlight>
                        <div class="card-body">
                            <h4>Git-Search: {{ user.login }}</h4>
                            <!-- <hr> -->
                            <p><i class="fa fa-file-o" style="font-size:18px"></i>&nbsp;&nbsp; Repositories
                                =>&nbsp;&nbsp; <span class="follow">{{ user.public_repos }}</span></p>
                            <!-- <hr> -->
                            <p> <i class="fa fa-user" style="font-size:18px"></i>&nbsp;&nbsp; Following =>&nbsp;&nbsp;
                                <span class="follow">{{ user.following }}</span></p>
                            <!-- <hr> -->
                            <p> <i class="fa fa-users" style="font-size:18px"></i>&nbsp;&nbsp; Followers =>&nbsp;&nbsp;
                                <span class="follow">{{ user.followers }}</span></p>
                            <!-- <hr> -->
                            <p><i class="fa fa-clock-o" style="font-size:18px"></i>&nbsp;&nbsp; Joined =>&nbsp;&nbsp;
                                <span class="datejoined">{{ user.created_at | datePipe }}</span></p>
                            <!-- <hr> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="text-center repos" id="reps">
            <h2>Repositories</h2>
        </div>
        <div class="container allrepos">
            <div class="card" appHighlight *ngFor="let repository of repo" style="width: 22rem;" class="repo">
                <div class="card-body">
                    <h5 class="card-title"><span class="top">Repo Name:</span> &nbsp;{{ repository.name }} </h5>
                    <div class="card-text">
                        <hr>
                        <div class="desc"><span class="top">Description:</span> &nbsp;{{ repository.description }}
                        </div>
                        <hr>
                        <div class="card-subtitle mb-2">
                            <span class="top">Language: </span> {{ repository.language }}
                        </div>
                        <div class="card-subtitle mb-2"><span class="top">Created:&nbsp; <span
                                    id="created">{{repository.created_at | datePipe}}</span> &nbsp; On:</span>
                            &nbsp;{{ repository.created_at | date }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>