<div class="try">
    <div class="banner">
        <h1>GithubSearch</h1>
      <nav>
  
        <p appColour><a routerLink='/repositories' routerLinkActive='active'>Repositories</a></p>
  
      </nav>
      <router-outlet></router-outlet>
    </div>
    <div class="Forms">
      <h1>Github <em>search</em>!</h1>
      <form (ngSubmit)="findUser()" #gitsearchForm="ngForm">
        <div class="form-group">
  
          <input type="text" required class="" id="username" [(ngModel)]="username" name="username" placeholder="Github username required">
  
          <button type="submit" class="submit" name="button">Go!</button><span class="subscribe-span"> </span>
        </div>
      </form>
  
    </div>
  </div>
  
  <div class="container">
  
  
  
    <div *ngIf="details">
      <div class="profilecontainer">
        <div class="profilebox">
          <img src="{{details.avatar_url}}" alt="Profile Image" class="rounded-circle" alt="Cinque Terre"><br>
  
          <p><a href="{{details.html_url}}" target="_blank">View on Github</a></p>
        </div>
        <div class="profilebox2">
          <p> <b>{{details.name}}</b> ({{details.login}})</p>
  
          <p *ngIf="details.company">Works at {{details.company}}</p>
          <p *ngIf="details.location">Located at {{details.location}}</p>
          <p *ngIf="details.email"><a href="emailto:{{details.email}}" target="_blank"></a>{{details.email}}</p>
          <p>Followers:{{details.followers}} </p>
          <p>Following:{{details.following}} </p>
          <p>Repositories:{{details.public_repos}}</p>
  
          <p *ngIf="details.bio">{{details.bio}}</p><br>
          <p *ngIf="details.hireable">Available for hire</p>
          <p *ngIf="details.blog"><a href="details.blog" target="_blank">{{details.blog}}</a></p><br>
  
        </div>
  
  
  
      </div>
  
    </div>
  
  
    <div *ngFor="let repo of repos">
      <div class="card">
        <h5>{{repo.name}}</h5>
        <p>{{repo.description}}</p><a href="{{repo.html_url}}" target="_blank">View on Github</a>
      </div>
    </div>
  
  
  
  </div>
  